# =========================
# Compiled files
# =========================
*.class

# =========================
# Maven
# =========================
target/

# =========================
# Build folders
# =========================
bin/
build/
out/

# =========================
# IDEs
# =========================

# VS Code
.vscode/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.project
.classpath
.settings/

# =========================
# Logs
# =========================
*.log
hs_err_pid*

# =========================
# Archives
# =========================
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar

# =========================
# BlueJ
# =========================
*.ctxt

# =========================
# Mobile Tools for Java
# =========================
.mtj.tmp/

# =========================
# Repository Data
# =========================
quantity_measurement_repo.ser


src/main/resources/application-local.properties